! ----------------------------------------------------------------------
! Import Color
! ----------------------------------------------------------------------

!#include ".colors/nord"


Xft.dpi:                 96
Xft.antialias:           true
Xft.hinting:             true
Xft.rgba:                rgb
Xft.autohint:            false
Xft.hintstyle:           hintslight
Xft.lcdfilter:           lcddefault
*.alpha:                 255
*.termname:              st-256color

Xcursor.theme: -h
Xcursor.size:                      0

